.footer {
    width: 100%;
    background: $color-grey-2;
    padding: 8vh 0 1.5em;

    .container {
    }

    .group {
        justify-content: space-between;
    }

    &-contact {
        flex: 1;

        a {
            text-decoration: none;
            color: $color-0;
            font-weight: 500;
            transition: 320ms ease-out;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }

        .email {
            font-size: 2.25rem;
            text-align: center;

            a {
                color: $color-1;
                text-decoration: underline;
            }
        }

        .phone {
            font-size: 2.25rem;
            text-align: center;
        }

        .address {
            //margin-top: 3em;
        }

        .legal {
            margin-top: 3em;
        }
    }

    &-cta {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &-badges {
        margin-top: 5em;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;

        img {
            max-width: 160px;
            margin: 0.5em;
        }
    }

    &-links {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;

        li {
            margin-right: 1.5em;
        }

        a {
            color: $color-0;
            text-decoration: none;
            font-size: 1rem;

            &:hover,
            &:focus {
                color: $color-1;
            }
        }
    }

    &-copyright {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 4vh;
        padding-top: 4vh;
        opacity: 0.6;
    }

    .ewd {
        width: 200px;
        line-height: 1;

        img {
            width: 100%;
        }
    }
}
