//Colors
$color-0: #000000;
$color-1: #33a3f5;
$color-2: #ffffff;

$color-grey-1: #fafbff;
$color-grey-2: #f5f7ff;
$color-grey-3: #424242;

//Fonts
$font-0: 'Poppins', sans-serif;
$font-1: 'Poppins', sans-serif;

//Box Shadow
$box-shadow-1: 0 2px 4px 0 rgba(50, 50, 93, 0.1);
$box-shadow-2: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
$box-shadow-3: 0 7px 14px rgba(50, 50, 93, 0.11), 0 3px 6px rgba(0, 0, 0, 0.08);

//Transitions
$transition-1: 250ms ease;

//Sizing
$container-width: 1360px; //Sizing of the section .container as well as .column containers
